
#index1{
	margin:0;
	padding:0;
}

.carousel{
	overflow: visible;
    position: relative;
    width: 100%;
    height: 400px;
    margin-top:70px;
 }

img.responsive-img{
    max-width:50%;
}

.btn{
	background-color:$amarillo;
	width:80%;
}