/***********************PANTALLA 6******************/
#pantalla6{
	.row.center{
		background: white;
		padding: 0 100px;
		.s1, h5{
			color: #00c3a3;
		}
		.s12{
			h3{
				font-size: 2em;
			}
			p{
				color: #8f8f8f;
			}
			input{
				background:  url("../img/icons/card.png");
				background-position: left;
				background-repeat: no-repeat;
				background-size: 30px;
				text-align: center;
			}
			h5{
				img{
					width: 30px;
					margin: 0 20px;
				}
			}
		}
		.s8{
			text-align: left;
		}
		.fecha{
			color: #8f8f8f;
		}
		.boton{
			button{
				border: none;
				color: white;
				padding: 10px 15px;
				border-radius: 5px;
				margin-top: 30px;
			}
		}
	}
	#continuar-P6{
		background: white;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: -1;
		.row{
			.nav{
				display: flex;
			}
			.s12{
				input{
					background:  url("../img/icons/lock.png");
					background-position: left;
					background-repeat: no-repeat;
					background-size: 30px;
				}
			}

		}
	}	
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
-webkit-appearance: none; 
	margin: 0; 
}
/*************************FIN PANTALLA 6******************************************/