//pantalla de inicio con preloader redirige a index 1

#indexinicio{
	.index-inicio{
		background-image:url(../img/icons/inicio.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		height:650px;
		width:100%;
	}
	.preloader-wrapper {
        margin-top: 450px;
 	}
}


//index 1 tiene un carrusel con distintos eslogans, su botón redirige a index 2

#index1{
	margin:0;
	padding:0;
		.carousel{
			overflow: visible;
		    position: relative;
		    width: 100%;
		    height: 400px;
		    margin-top:70px;
 	}

}


img.responsive-img{
    max-width:50%;
}

.btn{
	background-color:$amarillo;
	width:80%;
}

//index 7 maqueta final

#index7{
	margin:0;
	padding:0;
	.seccion-morada-uno{
		background-color:$morado-light;
		height:300px;
			.img-index7{
				margin-top:60px;
				
		}
	}

	.seccion-morada-dos{
	    height: 100%;
		background-color:$morado-dark;
			.iconos-segunda-seccion{
				margin-top:80px;
		}
	}
}

.titulo-turquesa{
	color:$turquesa;
	font-size:15px;
}

.nav-wrapper{
	background-color:$morado-dark;
}